MONGO_URI = mongodb+srv://<username>:<password>@cluster0.mtwmax7.mongodb.net/test


JWT_SECRET = "uypypuypuypypuypuypyypuypuypuytpytpdfgfdg

# https://cloud.mongodb.com/v2/6444aa41a5a76932645184f9#/clusters